
body {
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
}

/* navbar */
.navbar-custom {
    background-color: #252423;
  }
  .navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  
  .navbar .nav-item.active {
    border-left: #444 3px solid;
  } 
  
  .navbar .navbar-brand {
    border-right: #444 3px solid;
    padding-right: 0.5rem;
  }

/* code-format */
pre{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 20px!ie7;
  max-height: 600px;
}

.image {
  background-color: white;
  border: 1px solid black;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  padding: 1em;
  width: 80%;
}